---
layout: frontpage
---
<div class="cover">
    <div class="cover-image" style="background-image: url('/assets/images/big-image/main.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well text-center opaque">
                    <h1 class="text-center">Graduate School of Motoring</h1>
                    <p class="text-center text-inverse">Driving lessons, ambulance driving training, jeep and trailer lessons.
                        <br>Male and female instructors available.
                        <br>Great prices &amp; fantastic service</p>
                    <a class="btn btn-danger btn-lg">&nbsp;087 231 6010<i class="fa fa-fw fa-lg fa-phone fa-rotate-270"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-primary">What We Do</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                class="img-responsive">
                <h2 contenteditable="true">Ambulance Driving &nbsp;Lessons</h2>
                <p>Learn to drive an ambulance with us. Get your C1 licence with our team
                    of qualified instructors. Our specially designed ambulance is great to
                    learn to drive in.</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                class="img-responsive">
                <h2>Jeep &amp; Trailer Lessons</h2>
                <p>Learn to drive safely and efficiently whilst towing a trailer or horse
                    box&nbsp;</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                class="img-responsive">
                <h2>Male &amp; Female Instructors</h2>
                <p>All our instructors are highly experienced and fully insured</p>
            </div>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Call us today to book your lesson&nbsp;</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary">087 231 6010<i class="-square fa fa-fw fa-lg fa-phone fa-rotate-270"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="section-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <blockquote>
                    <p>Mike is fantastic!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p>Irene is the best ever!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p>Irene is the best ever!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p>Mike is fantastic!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-primary">Team</h1>
                <p class="text-center">We are a group of skilled individuals.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center">Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center">Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center" contenteditable="true">Instructor</p>
            </div>
        </div>
    </div>
</div>
