//@import (less) "app.min.css";
//@import (less) "main.css";
@import "app/_bower_components/bootstrap/less/bootstrap.less";
@import "app/_bower_components/font-awesome/less/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans);
@import "app/assets/_less/_variables.less";

html,
body {
  height: 100%;
}
.text-inverse {
  color: #ffffff;
}
/* TODO: verify if we can touch only section */
.jumbotron {
  margin-bottom: 0px !important;
}
.jumbotron h1.text-primary {
  color: #b5b1c6 !important;
}
.jumbotron h1.text-inverse {
  color: #ffffff !important;
}
.jumbotron h1.text-info {
  color: #5bc0de !important;
}
.jumbotron h1.text-success {
  color: #5cb85c !important;
}
.jumbotron h1.text-warning {
  color: #f0ad4e !important;
}
.jumbotron h1.text-danger {
  color: #d9534f !important;
}
.carousel .item img {
  min-width: 100%;
}
.section {
  position: relative;
}
.section > .container > .row {
  margin: 40px 0px;
}
.section .background-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.section .background-image.background-image-fixed {
  background-attachment: fixed;
}
.section-primary {
  background-color: #b5b1c6 !important;
  color: #000000;
}
.section-primary .text-inverse {
  color: #000000;
}
.section-info {
  background-color: #5bc0de !important;
}
.section-success {
  background-color: #5cb85c !important;
}
.section-warning {
  background-color: #f0ad4e !important;
}
.section-danger {
  background-color: #d9534f !important;
}
.cover {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  margin-bottom: 0px !important;
  padding: 0px 0px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.cover h1,
.cover .h1 {
  color: inherit;
}
.cover p {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 200;
}
.cover > hr {
  border-top-color: #d5d5d5;
}
.container .cover,
.container-fluid .cover {
  border-radius: 0;
}
.cover .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 48px 0;
  }
  .container .cover,
  .container-fluid .cover {
    padding-left: 60px;
    padding-right: 60px;
  }
  .cover h1,
  .cover .h1 {
    font-size: 90px;
  }
}
.cover h1.text-primary {
  color: #b5b1c6 !important;
}
.cover h1.text-inverse {
  color: #ffffff !important;
}
.cover h1.text-info {
  color: #5bc0de !important;
}
.cover h1.text-success {
  color: #5cb85c !important;
}
.cover h1.text-warning {
  color: #f0ad4e !important;
}
.cover h1.text-danger {
  color: #d9534f !important;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 0px;
  }
  .container .cover,
  .container-fluid .cover {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.cover .navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  border: none;
  background-color: transparent !important;
}
.cover .navbar .navbar-nav li.active a {
  background-color: transparent !important;
}
.cover .navbar .navbar-toggle {
  border-color: transparent;
}
.cover .navbar .navbar-toggle:hover,
.cover .navbar .navbar-toggle:focus {
  background-color: transparent;
}
.cover .navbar .navbar-toggle .icon-bar {
  background-color: #000000;
}
.cover .navbar.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle:hover,
.cover .navbar.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.cover .cover-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.cover .cover-image.background-image-fixed,
.cover .cover-image.cover-image-fixed {
  background-attachment: fixed;
}

.well.opaque {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 40px;
}
